<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>students.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change</servlet-name>
        <servlet-class>students.change</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createprofile</servlet-name>
        <servlet-class>students.createprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>students.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notify</servlet-name>
        <servlet-class>students.notify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recovery</servlet-name>
        <servlet-class>students.recovery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>students.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reset</servlet-name>
        <servlet-class>students.reset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>admin.adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminchange</servlet-name>
        <servlet-class>admin.adminchange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogout</servlet-name>
        <servlet-class>admin.adminlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminnotify</servlet-name>
        <servlet-class>admin.adminnotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminrecovery</servlet-name>
        <servlet-class>admin.adminrecovery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminreset</servlet-name>
        <servlet-class>admin.adminreset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createaccount</servlet-name>
        <servlet-class>admin.createaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>find_unverified</servlet-name>
        <servlet-class>admin.find_unverified</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>single_verification</servlet-name>
        <servlet-class>admin.single_verification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bulk_verify</servlet-name>
        <servlet-class>admin.bulk_verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ping_report</servlet-name>
        <servlet-class>admin.ping_report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unverified_students_at_provost</servlet-name>
        <servlet-class>admin.unverified_students_at_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_verify_chmn</servlet-name>
        <servlet-class>admin.admin_verify_chmn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>email_verification</servlet-name>
        <servlet-class>students.email_verification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verify_email</servlet-name>
        <servlet-class>students.verify_email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobile_verification</servlet-name>
        <servlet-class>students.mobile_verification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verify_mobile</servlet-name>
        <servlet-class>students.verify_mobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apply_for_rsch_lab</servlet-name>
        <servlet-class>students.apply_for_rsch_lab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apply_for_email</servlet-name>
        <servlet-class>students.apply_for_email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apply_for_gcl_lab</servlet-name>
        <servlet-class>students.apply_for_gcl_lab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apply_for_wifi</servlet-name>
        <servlet-class>students.apply_for_wifi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>students.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPhoto</servlet-name>
        <servlet-class>students.UploadPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCert</servlet-name>
        <servlet-class>students.UploadCert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadSignature</servlet-name>
        <servlet-class>students.UploadSignature</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAddConti</servlet-name>
        <servlet-class>students.UploadAddConti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_reject</servlet-name>
        <servlet-class>admin.admin_reject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateContact</servlet-name>
        <servlet-class>students.UpdateContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>students.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>students.Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllUsers</servlet-name>
        <servlet-class>admin.AllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PendingAtProvost</servlet-name>
        <servlet-class>admin.PendingAtProvost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PendingAtChaiperson</servlet-name>
        <servlet-class>admin.PendingAtChaiperson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incomplete</servlet-name>
        <servlet-class>admin.Incomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verified</servlet-name>
        <servlet-class>admin.Verified</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllVerified</servlet-name>
        <servlet-class>admin.AllVerified</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wifi_request</servlet-name>
        <servlet-class>admin.wifi_request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_verify</servlet-name>
        <servlet-class>admin.admin_verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gcl_request</servlet-name>
        <servlet-class>admin.gcl_request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>research_request</servlet-name>
        <servlet-class>admin.research_request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unverified_at_dean</servlet-name>
        <servlet-class>admin.unverified_at_dean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_verify_dean</servlet-name>
        <servlet-class>admin.admin_verify_dean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verified_by_dean</servlet-name>
        <servlet-class>admin.verified_by_dean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alladmins</servlet-name>
        <servlet-class>admin.alladmins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unverified_at_provost</servlet-name>
        <servlet-class>admin.unverified_at_provost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_verify_provost</servlet-name>
        <servlet-class>admin.admin_verify_provost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verified_by_provost</servlet-name>
        <servlet-class>admin.verified_by_provost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload_wifi_csv</servlet-name>
        <servlet-class>admin.upload_wifi_csv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create_wifi</servlet-name>
        <servlet-class>admin.create_wifi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>email_request</servlet-name>
        <servlet-class>admin.email_request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>distinct_deps</servlet-name>
        <servlet-class>admin.distinct_deps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>process_wifi</servlet-name>
        <servlet-class>admin.process_wifi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetwifipassword</servlet-name>
        <servlet-class>students.resetwifipassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload_pro_vdo</servlet-name>
        <servlet-class>admin.upload_pro_vdo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pro_vdo_info</servlet-name>
        <servlet-class>admin.pro_vdo_info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>provdo</servlet-name>
        <servlet-class>admin.provdo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatemac</servlet-name>
        <servlet-class>students.updatemac</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetch_academic_deps</servlet-name>
        <servlet-class>admin.fetch_academic_deps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>academic_staff</servlet-name>
        <servlet-class>admin.academic_staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetch_nonacademic_deps</servlet-name>
        <servlet-class>admin.fetch_nonacademic_deps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nonacademic_staff</servlet-name>
        <servlet-class>admin.nonacademic_staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>provostpending</servlet-name>
        <servlet-class>admin.provostpending</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchdailyreport</servlet-name>
        <servlet-class>admin.fetchdailyreport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchmonthlyreport</servlet-name>
        <servlet-class>admin.fetchmonthlyreport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchoverall</servlet-name>
        <servlet-class>admin.fetchoverall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pendinghallwise</servlet-name>
        <servlet-class>admin.pendinghallwise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pendingdepwise</servlet-name>
        <servlet-class>admin.pendingdepwise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchbyenroll</servlet-name>
        <servlet-class>admin.searchbyenroll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dawa</servlet-name>
        <servlet-class>admin.dawa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteaccount</servlet-name>
        <servlet-class>admin.deleteaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendotp</servlet-name>
        <servlet-class>students.sendotp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyotp</servlet-name>
        <servlet-class>students.verifyotp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeemail</servlet-name>
        <servlet-class>students.changeemail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disablewifi</servlet-name>
        <servlet-class>admin.disablewifi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enablewifi</servlet-name>
        <servlet-class>admin.enablewifi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changemobile</servlet-name>
        <servlet-class>students.changemobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopulateSupervisors</servlet-name>
        <servlet-class>admin.PopulateSupervisors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRScholar</servlet-name>
        <servlet-class>admin.AddRScholar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopulateScholars</servlet-name>
        <servlet-class>admin.PopulateScholars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopulateFaculties</servlet-name>
        <servlet-class>admin.PopulateFaculties</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopulateDepartments</servlet-name>
        <servlet-class>admin.PopulateDepartments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopulateCosupervisor</servlet-name>
        <servlet-class>admin.PopulateCosupervisor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewedAndForward</servlet-name>
        <servlet-class>admin.ReviewedAndForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteScholar</servlet-name>
        <servlet-class>admin.DeleteScholar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeanAction</servlet-name>
        <servlet-class>admin.DeanAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRScholar</servlet-name>
        <servlet-class>admin.EditRScholar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRScholarDean</servlet-name>
        <servlet-class>admin.AddRScholarDean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadScholarsCSV</servlet-name>
        <servlet-class>admin.UploadScholarsCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishRScholars</servlet-name>
        <servlet-class>admin.PublishRScholars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishedRScholars</servlet-name>
        <servlet-class>admin.PublishedRScholars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindRScholar</servlet-name>
        <servlet-class>admin.FindRScholar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EMPLogin</servlet-name>
        <servlet-class>employees.EMPLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EMPReset</servlet-name>
        <servlet-class>employees.EMPReset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EMPChange</servlet-name>
        <servlet-class>employees.EMPChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpNotify</servlet-name>
        <servlet-class>employees.EmpNotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EMPLogout</servlet-name>
        <servlet-class>employees.EMPLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEMPotp</servlet-name>
        <servlet-class>employees.SendEMPotp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateEMPOTP</servlet-name>
        <servlet-class>employees.ValidateEMPOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalUsers</servlet-name>
        <servlet-class>admin.TotalUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoContinuation</servlet-name>
        <servlet-class>students.DoContinuation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContUser</servlet-name>
        <servlet-class>students.ContUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeWiFiPass</servlet-name>
        <servlet-class>employees.ChangeWiFiPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EMPRecovery</servlet-name>
        <servlet-class>employees.EMPRecovery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOTP</servlet-name>
        <servlet-class>employees.ValidateOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnApproved</servlet-name>
        <servlet-class>admin.UnApproved</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Approve</servlet-name>
        <servlet-class>admin.Approve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reject</servlet-name>
        <servlet-class>admin.Reject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Approved</servlet-name>
        <servlet-class>admin.Approved</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditContinuation</servlet-name>
        <servlet-class>students.EditContinuation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditContinuationSame</servlet-name>
        <servlet-class>students.EditContinuationSame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartSession</servlet-name>
        <servlet-class>admin.StartSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContStatus</servlet-name>
        <servlet-class>students.ContStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LineStatus</servlet-name>
        <servlet-class>students.LineStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByPid</servlet-name>
        <servlet-class>admin.SearchByPid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEmpAccount</servlet-name>
        <servlet-class>admin.CreateEmpAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchRScholars</servlet-name>
        <servlet-class>employees.FetchRScholars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EMPStatus</servlet-name>
        <servlet-class>employees.EMPStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PickOut</servlet-name>
        <servlet-class>employees.PickOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PickedOuts</servlet-name>
        <servlet-class>employees.PickedOuts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCont</servlet-name>
        <servlet-class>admin.ProcessCont</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnapprovedAtDean</servlet-name>
        <servlet-class>admin.UnapprovedAtDean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovedAtDean</servlet-name>
        <servlet-class>admin.ApprovedAtDean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dpv</servlet-name>
        <servlet-class>admin.dpv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchDBCons</servlet-name>
        <servlet-class>admin.FetchDBCons</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateContacts</servlet-name>
        <servlet-class>admin.UpdateContacts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePhoto</servlet-name>
        <servlet-class>admin.UpdatePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCert</servlet-name>
        <servlet-class>admin.UpdateCert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSig</servlet-name>
        <servlet-class>admin.UpdateSig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateADMCont</servlet-name>
        <servlet-class>admin.UpdateADMCont</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeNewEditable</servlet-name>
        <servlet-class>admin.MakeNewEditable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeContEditable</servlet-name>
        <servlet-class>admin.MakeContEditable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailRequest</servlet-name>
        <servlet-class>admin.EmailRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessEmail</servlet-name>
        <servlet-class>admin.ProcessEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailCreated</servlet-name>
        <servlet-class>admin.EmailCreated</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSecAccount</servlet-name>
        <servlet-class>admin.CreateSecAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOfSecAccounts</servlet-name>
        <servlet-class>admin.ListOfSecAccounts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/students/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change</servlet-name>
        <url-pattern>/students/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createprofile</servlet-name>
        <url-pattern>/students/createprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/students/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notify</servlet-name>
        <url-pattern>/students/notify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recovery</servlet-name>
        <url-pattern>/students/recovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/students/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reset</servlet-name>
        <url-pattern>/students/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/admin/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminchange</servlet-name>
        <url-pattern>/admin/adminchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogout</servlet-name>
        <url-pattern>/admin/adminlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminnotify</servlet-name>
        <url-pattern>/admin/adminnotify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminrecovery</servlet-name>
        <url-pattern>/admin/adminrecovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminreset</servlet-name>
        <url-pattern>/admin/adminreset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createaccount</servlet-name>
        <url-pattern>/admin/createaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>find_unverified</servlet-name>
        <url-pattern>/admin/find_unverified</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>single_verification</servlet-name>
        <url-pattern>/admin/single_verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bulk_verify</servlet-name>
        <url-pattern>/admin/bulk_verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ping_report</servlet-name>
        <url-pattern>/admin/ping_report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unverified_students_at_provost</servlet-name>
        <url-pattern>/admin/unverified_students_at_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_verify_chmn</servlet-name>
        <url-pattern>/admin/admin_verify_chmn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>email_verification</servlet-name>
        <url-pattern>/students/email_verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verify_email</servlet-name>
        <url-pattern>/students/verify_email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobile_verification</servlet-name>
        <url-pattern>/students/mobile_verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verify_mobile</servlet-name>
        <url-pattern>/students/verify_mobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apply_for_rsch_lab</servlet-name>
        <url-pattern>/students/apply_for_rsch_lab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apply_for_email</servlet-name>
        <url-pattern>/students/apply_for_email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apply_for_gcl_lab</servlet-name>
        <url-pattern>/students/apply_for_gcl_lab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apply_for_wifi</servlet-name>
        <url-pattern>/students/apply_for_wifi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/students/fileupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPhoto</servlet-name>
        <url-pattern>/students/uploadphoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCert</servlet-name>
        <url-pattern>/students/uploadcert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadSignature</servlet-name>
        <url-pattern>/students/uploadsignature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAddConti</servlet-name>
        <url-pattern>/students/uploadaddconti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_reject</servlet-name>
        <url-pattern>/admin/admin_reject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateContact</servlet-name>
        <url-pattern>/students/updatecontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/students/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/students/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllUsers</servlet-name>
        <url-pattern>/admin/allusers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingAtProvost</servlet-name>
        <url-pattern>/admin/pendingatprovost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingAtChaiperson</servlet-name>
        <url-pattern>/admin/pendingatchaiperson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incomplete</servlet-name>
        <url-pattern>/admin/incomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verified</servlet-name>
        <url-pattern>/admin/verified</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllVerified</servlet-name>
        <url-pattern>/admin/all_verified</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wifi_request</servlet-name>
        <url-pattern>/admin/wifi_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_verify</servlet-name>
        <url-pattern>/admin/admin_verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gcl_request</servlet-name>
        <url-pattern>/admin/gcl_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>research_request</servlet-name>
        <url-pattern>/admin/research_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unverified_at_dean</servlet-name>
        <url-pattern>/admin/unverified_at_dean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_verify_dean</servlet-name>
        <url-pattern>/admin/admin_verify_dean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verified_by_dean</servlet-name>
        <url-pattern>/admin/verified_by_dean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alladmins</servlet-name>
        <url-pattern>/admin/alladmins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unverified_at_provost</servlet-name>
        <url-pattern>/admin/unverified_at_provost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_verify_provost</servlet-name>
        <url-pattern>/admin/admin_verify_provost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verified_by_provost</servlet-name>
        <url-pattern>/admin/verified_by_provost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload_wifi_csv</servlet-name>
        <url-pattern>/admin/upload_wifi_csv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_wifi</servlet-name>
        <url-pattern>/admin/create_wifi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>email_request</servlet-name>
        <url-pattern>/admin/email_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>distinct_deps</servlet-name>
        <url-pattern>/admin/distinct_deps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>process_wifi</servlet-name>
        <url-pattern>/admin/process_wifi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetwifipassword</servlet-name>
        <url-pattern>/students/resetwifipassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload_pro_vdo</servlet-name>
        <url-pattern>/admin/upload_pro_vdo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pro_vdo_info</servlet-name>
        <url-pattern>/admin/pro_vdo_info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>provdo</servlet-name>
        <url-pattern>/admin/provdo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatemac</servlet-name>
        <url-pattern>/students/updatemac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetch_academic_deps</servlet-name>
        <url-pattern>/admin/fetch_academic_deps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>academic_staff</servlet-name>
        <url-pattern>/admin/academic_staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetch_nonacademic_deps</servlet-name>
        <url-pattern>/admin/fetch_nonacademic_deps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nonacademic_staff</servlet-name>
        <url-pattern>/admin/nonacademic_staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>provostpending</servlet-name>
        <url-pattern>/admin/provostpending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchdailyreport</servlet-name>
        <url-pattern>/admin/fetchdailyreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchmonthlyreport</servlet-name>
        <url-pattern>/admin/fetchmonthlyreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchoverall</servlet-name>
        <url-pattern>/admin/fetchoverall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pendinghallwise</servlet-name>
        <url-pattern>/admin/pendinghallwise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pendingdepwise</servlet-name>
        <url-pattern>/admin/pendingdepwise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchbyenroll</servlet-name>
        <url-pattern>/admin/searchbyenroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dawa</servlet-name>
        <url-pattern>/admin/dawa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteaccount</servlet-name>
        <url-pattern>/admin/deleteaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendotp</servlet-name>
        <url-pattern>/students/sendotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyotp</servlet-name>
        <url-pattern>/students/verifyotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeemail</servlet-name>
        <url-pattern>/students/changeemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disablewifi</servlet-name>
        <url-pattern>/admin/disablewifi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enablewifi</servlet-name>
        <url-pattern>/admin/enablewifi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changemobile</servlet-name>
        <url-pattern>/students/changemobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopulateSupervisors</servlet-name>
        <url-pattern>/admin/populatesupervisors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRScholar</servlet-name>
        <url-pattern>/admin/addrscholar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopulateScholars</servlet-name>
        <url-pattern>/admin/populatsecholars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopulateFaculties</servlet-name>
        <url-pattern>/admin/populatefaculties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopulateDepartments</servlet-name>
        <url-pattern>/admin/populatedepartments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopulateCosupervisor</servlet-name>
        <url-pattern>/admin/populatecosupervisor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewedAndForward</servlet-name>
        <url-pattern>/admin/reviewedandforward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteScholar</servlet-name>
        <url-pattern>/admin/deletescholar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeanAction</servlet-name>
        <url-pattern>/admin/deanaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRScholar</servlet-name>
        <url-pattern>/admin/editrscholar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRScholarDean</servlet-name>
        <url-pattern>/admin/addrscholardean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadScholarsCSV</servlet-name>
        <url-pattern>/admin/upload_scholars_csv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishRScholars</servlet-name>
        <url-pattern>/admin/publishrscholars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishedRScholars</servlet-name>
        <url-pattern>/admin/publishedrscholars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindRScholar</servlet-name>
        <url-pattern>/admin/findrscholar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EMPLogin</servlet-name>
        <url-pattern>/employees/emplogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EMPReset</servlet-name>
        <url-pattern>/employees/empreset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EMPChange</servlet-name>
        <url-pattern>/employees/empchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpNotify</servlet-name>
        <url-pattern>/employees/empnotify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EMPLogout</servlet-name>
        <url-pattern>/employees/emplogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEMPotp</servlet-name>
        <url-pattern>/employees/sendempotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateEMPOTP</servlet-name>
        <url-pattern>/employees/validateempotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalUsers</servlet-name>
        <url-pattern>/admin/totalusers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoContinuation</servlet-name>
        <url-pattern>/students/docontinuation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContUser</servlet-name>
        <url-pattern>/students/contuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeWiFiPass</servlet-name>
        <url-pattern>/employees/changewifipass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EMPRecovery</servlet-name>
        <url-pattern>/employees/emprecovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOTP</servlet-name>
        <url-pattern>/employees/validateotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnApproved</servlet-name>
        <url-pattern>/admin/unapproved</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Approve</servlet-name>
        <url-pattern>/admin/approve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reject</servlet-name>
        <url-pattern>/admin/reject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Approved</servlet-name>
        <url-pattern>/admin/approved</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditContinuation</servlet-name>
        <url-pattern>/students/editcontinuation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditContinuationSame</servlet-name>
        <url-pattern>/students/editcontinuationsame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartSession</servlet-name>
        <url-pattern>/admin/startsession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContStatus</servlet-name>
        <url-pattern>/students/contstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LineStatus</servlet-name>
        <url-pattern>/students/linestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByPid</servlet-name>
        <url-pattern>/admin/searchbypid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEmpAccount</servlet-name>
        <url-pattern>/admin/createempaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchRScholars</servlet-name>
        <url-pattern>/employees/fetchrscholars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EMPStatus</servlet-name>
        <url-pattern>/employees/empstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PickOut</servlet-name>
        <url-pattern>/employees/pickout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PickedOuts</servlet-name>
        <url-pattern>/employees/pickedouts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCont</servlet-name>
        <url-pattern>/admin/processcont</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnapprovedAtDean</servlet-name>
        <url-pattern>/admin/unapprovedatdean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovedAtDean</servlet-name>
        <url-pattern>/admin/approvedatdean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dpv</servlet-name>
        <url-pattern>/admin/dpv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchDBCons</servlet-name>
        <url-pattern>/admin/fetchdbcons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateContacts</servlet-name>
        <url-pattern>/admin/updatecontacts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePhoto</servlet-name>
        <url-pattern>/admin/updatephoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCert</servlet-name>
        <url-pattern>/admin/updatecert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSig</servlet-name>
        <url-pattern>/admin/updatesig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateADMCont</servlet-name>
        <url-pattern>/admin/updateadmcont</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeNewEditable</servlet-name>
        <url-pattern>/admin/makeneweditable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeContEditable</servlet-name>
        <url-pattern>/admin/makeconteditable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailRequest</servlet-name>
        <url-pattern>/admin/emailrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessEmail</servlet-name>
        <url-pattern>/admin/processemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailCreated</servlet-name>
        <url-pattern>/admin/emailcreated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSecAccount</servlet-name>
        <url-pattern>/admin/createsecaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOfSecAccounts</servlet-name>
        <url-pattern>/admin/listofsecaccounts</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
</web-app>
